.login-avatar {
    margin: 8px !important;
    background-color: blue !important;
  }

.title {
    color: var(--light-text-color, #1B1E28);
    text-align: center !important;
    font-size: 26px !important;
    font-family: sans-serif !important;
    font-weight: 900 !important;
    line-height: 34px !important;
}

.login-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  padding: 16px !important;
  width: 40% !important;
  background-color: #ffffff85 !important;
}

.main-box {
    margin-top: 10% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    
}

.same-line-center {
  align-items: center !important;
  justify-content: center !important;
}

.social-login {
  justify-content: center;
  margin-top: 5%;
}

.rounded-text-field {
  border-radius: 5px !important;
}

.description {
  text-align: center !important;
  font-size: 10px !important;
  margin-top: 2% !important;
  color: grey;
}
.back-ground-gray {
  background-color: var(--light-gray-color, #F7F7F9);
}